/*qr.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(179, 211, 200);
    display: grid;
    place-items: center;
}
.main{
    background-color: rgb(255, 253, 253); 
    font-size: 15px ;
    width: 325px;
    padding: 20px;
    margin-top: 150px;
    border-radius: 20px;
}
.obj{
    width:100%;
    height:280px;
    border-radius: 20px;
}
text{
    display: flex;
    text-align: center;
}
.paragraph{
    margin-top: 10px;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  opacity: 50%;
  font-size: 20px;
  text-align : center
}
h2{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: flex;
}